diffusers==0.24.0
gradio==4.5.0
opencv-python
opencv-python-headless
scikit-image
torch==2.0.1
torchvision==0.15.2
einops
accelerate==0.30.1
transformers==4.41.1
colorlog
cupy-cuda117
av
gpustat
ffmpeg-python
omegaconf
librosa
mediapipe
kornia
facexlib
yacs
gfpgan
trimesh
numpy==1.23.0
